
/**************   Left side  ************/
.move-buttons {
  display:flex;
  justify-content: space-between;
  width:25%;
  margin:auto;
  
}
 /* Fixes table stretch*/

.wrapper-fix {
  height:57%;
  overflow: auto;
}

.past-moves {
  width:100%;
  border-collapse: collapse;
  border-spacing: 0px;

}

tr:nth-child(odd) {
  background-color: #393939;
}
tr > td {
  font-size: 1.2rem;
  padding:2px;
  color:white;
}

.back-button {
  border:0;
  font-size: 3rem;
  width:50px;
  background-color: inherit;
  color:#C4C4C4;
  margin-top:5px;
  margin-bottom:10px;
}
.back-button:hover {
  background-color: #393939;
  border-radius: 20px;
}
.back-button:focus {
  outline:none;
}



.control-buttons {
  display:inline;
}
.button-wrapper {
  display:flex;
  justify-content: space-around;
  margin-bottom:20px;
}

.c-button {
  background-color: #393939;
  color: white;
  border-radius: 8px;
  display: inline-block;
  font-size: x-large;
  padding: 6px 24px;
  font-family: 'Roboto', sans-serif;
  transition-duration: 0.4s;
  width:40%;
}

.c-button:hover {
  border: 1px #79B2FF;
}

img {
  user-select: none;
}
/**************   Right side  ************/

.player {
  height:7%;
  display:flex;
  justify-content: space-between;
}

.timer {
  margin-top:10px;
  height:60%;
  width:16%;
  background: #F0F2F4;
}
.deadPieces {
  display:flex;
  background: #C7CCD2;
  width:50%;
  margin-top:10px;
  height:60%;
}
.deadPiece {
  width: 26px;
  height: 26px;
}
.deadcontainer{
  width: 18px;
  height:18px;
}
/**************   Chess Board  ************/



.focused {
  background-color: #A0C9FF;
}

.container-movable {
  position:relative;
}
.movable {
  position:absolute;
  background-color: #79B2FF;
  border-radius: 100px;
  top:25px;
  left:25px;
  width: 25px;
  height: 25px;
}

