*{
  margin:0;
  padding:0;
  box-sizing:0;

}

body {
  padding-top: 20px;
  padding-left:50px;
  background: #343434;
  display:flex;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
  color: #00B7FF;
}



/**************   Left side  ************/
.left-block {
  width:442px;
  height: 800px;
}
.logo {
  width:350px;
}

.title {
  height:7%;
}

.left-container {
  background: #2B2B2B;
  height:600px;
  
}


/**************   Right side  ************/
.right-block {
  padding-left: 65px;
  width: 600px;
  height: 700px;
}

.player {
  height:7%;
  display:flex;
  justify-content: space-between;
}

.timer {
  margin-top:10px;
  height:60%;
  width:16%;
  background: #F0F2F4;
}
.deadPieces {
  display:flex;
  background: #C7CCD2;
  width:50%;
  margin-top:10px;
  height:60%;
}
.deadPiece {
  width: 26px;
  height: 26px;
}
.deadcontainer{
  width: 18px;
  height:18px;
}
/**************   Chess Board  ************/


.column {
  width: 75px;
  height: 75px;
}

.white-block {
  background-color: white;
}

.piece {
  user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
  width: 75px;
  height: 75px;
}

.focused {
  background-color: #A0C9FF;
}

.container-movable {
  position:relative;
}
.movable {
  position:absolute;
  background-color: #79B2FF;
  border-radius: 100px;
  top:25px;
  left:25px;
  width: 25px;
  height: 25px;
}

#chess-board {
  position:relative;
  width: 600px;
  height: 600px;
  background-color: #C5CBD3;
  display:flex;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
         user-select: none; 

}
